BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: false
#IndentPPDirectives: AfterHash
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PackConstructorInitializers: Never
SortIncludes: Never
SpaceBeforeCpp11BracedList: true

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
