[submodule "3rd/bee.lua"]
	path = 3rd/bee.lua
	url = https://github.com/actboy168/bee.lua.git
[submodule "3rd/detours"]
	path = 3rd/detours
	url = https://github.com/microsoft/Detours
[submodule "3rd/lua/luajit"]
	path = 3rd/lua/luajit
	url = https://github.com/fesily/luajit2
[submodule "3rd/json.lua"]
	path = 3rd/json.lua
	url = https://github.com/actboy168/json.lua
[submodule "3rd/Dobby"]
	path = 3rd/Dobby
	url = https://github.com/jmpews/Dobby.git
[submodule "tools/ShellcodeCompiler"]
	path = tools/ShellcodeCompiler
	url = https://github.com/fesily/ShellcodeCompiler
