[submodule "3rd/bee.lua"]
	path = 3rd/bee.lua
	url = https://github.com/actboy168/bee.lua.git
[submodule "3rd/lua/luajit"]
	path = 3rd/lua/luajit
	url = https://github.com/fesily/luajit2
[submodule "3rd/json.lua"]
	path = 3rd/json.lua
	url = https://github.com/actboy168/json.lua
[submodule "3rd/frida_gum/gumpp"]
	path = 3rd/frida_gum/gumpp
	url = https://github.com/fesily/gumpp
[submodule "3rd/json"]
	path = 3rd/json
	url = https://github.com/nlohmann/json
