*.aps
*.bsc
*.exp
*.ilk
*.lastbuildstate
*.pdb
*.pyc
*.suo
*.user
*.sdf
*.opensdf
*.ipch
*.sln.cache
*.vs/
*.VC.db
*.VC.opendb
*.ipdb
*.iobj
*.lib
*.o
extension/windows/
project/windows/bin/
project/windows/obj/
publish/
