name: build
on: push
jobs:
  compile:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            platform: win32-ia32
          - os: windows-latest
            platform: win32-x64
          - os: ubuntu-18.04
            platform: linux-x64
          - os: ubuntu-18.04
            platform: linux-arm64
          - os: macos-latest
            platform: darwin-x64
          - os: macos-latest
            platform: darwin-arm64
    steps:
    - uses: actions/checkout@v3
      with:
        submodules : recursive
    - uses: actboy168/setup-luamake@master
    - if: ${{ matrix.platform == 'linux-arm64' }}
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
    - run: luamake -platform ${{ matrix.platform }} -luajit on
    - run: npm install -g vsce
    - run: cd publish && vsce publish --target ${{ matrix.platform }} -p ${{ secrets.VSCE_KEY }}
      continue-on-error: true
